<div class="bg-light px-3 pb-4 mb-4">
  <h2>News :</h2>
  <ul>
    <li>Nouveau système de quête lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua.</li>
    <li>Nouveaux sorts lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua.</li>
    <li>Nerfing de votre perso trop puissant lorem ipsum dolor sit amet, consectetur adipiscing elit, sed do eiusmod  tempor incididunt ut labore et dolore magna aliqua.</li>
  </ul>
</div>