<nav class="navbar navbar-expand-md navbar-light">
  <div class="container-fluid">
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarSupportedContent" aria-controls="navbarSupportedContent" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarSupportedContent">
      <ul class="navbar-nav me-auto mb-2 mb-lg-0">
        <li class="nav-item m-1 fs-5">
          <a class="nav-link" aria-current="page" routerLink="" [routerLinkActive]="['active']" [routerLinkActiveOptions]="{exact : true}">Accueil</a>
        </li>
        <li class="nav-item m-1 fs-5">
          <a class="nav-link" routerLink="connexion" [routerLinkActive]="['active']">Connexion</a>
        </li>
        <li class="nav-item m-1 fs-5">
          <a class="nav-link" routerLink="contact" [routerLinkActive]="['active']">Contact</a>
        </li>
        <li class="nav-item m-1 fs-5">
          <a class="nav-link" routerLink="game" [routerLinkActive]="['active']">Jouer</a>
        </li>
      </ul>
    </div>
  </div>
</nav>