 <div class="centered-frame">
        <h1>Mentions légales</h1>
    
        <h2>Conditions d'utilisation:</h2>
        <p>En accédant et en utilisant " NOTRE RPG ", vous acceptez de vous conformer aux présentes conditions d'utilisation. Vous vous engagez à ne pas utiliser le jeu à des fins illicites ou non autorisées. Vous reconnaissez que toute violation des conditions d'utilisation peut entraîner la suspension ou la résiliation de votre accès au jeu.</p>
        
        <h2>Confidentialité:</h2>
        <p>Nous respectons votre vie privée et nous nous engageons à protéger les informations personnelles que vous nous fournissez. </p>
        
        <h2>Responsabilité:</h2>
        <p>Nous nous efforçons de fournir un jeu de qualité, mais nous ne pouvons garantir son fonctionnement continu et exempt d'erreurs. Nous déclinons toute responsabilité en cas de dommages directs, indirects, accidentels, spéciaux ou consécutifs résultant de l'utilisation ou de l'impossibilité d'utiliser le jeu.</p>
        
        <h2>Modifications des mentions légales :</h2>
        <p>Nous nous réservons le droit de modifier les présentes mentions légales à tout moment. Les utilisateurs sont invités à consulter régulièrement cette page pour prendre connaissance des éventuelles mises à jour.
        </p>
        
        
      </div>
    
  