.logoBox {
  height: 55px;
}

#logoImage {
  width: 64px;
  height: auto;
}

.logoText {
    font-family: 'NovaSquare', sans-serif;
    height: 30px;
}

a {
  text-decoration: none;
  color: inherit;
}