<ul class="mt-4 me-2">
  <li>
    <strong>Progressez dans une quête épique</strong> en parlant avec une paysanne sur une plage, en tuant un ours dans une forêt, et en rentrant ensuite au village pour prendre l'apéro.
  </li>
  <li>
    <strong>Un système de combat révolutionnaire</strong> où vous pourrez cliquer sur attaquer pour attaquer l'ennemi. Oui, c'est tout. Ah et l'ennemi c'est juste un ours pour l'instant.
  </li>
  <li>
    <strong>Un monde ouvert</strong> avec pas moins de neuf lieux différents et cinq types de lieux pour des dizaines d'heures de fun. Réveillez le globe-trotter qui est en vous.
  </li>
</ul>
<div class="text-center pb-2">
  <a class="btn btn-success logoGreen" routerLink="connexion">Commencez votre aventure !</a>
</div>
