<ul class="mt-4">
  <li>
    <strong>Progressez dans une quête épique</strong> lorem ipsum dolor sit
    amet, consectetur adipiscing elit, sed do eiusmod tempor incididunt ut
    labore et dolore magna aliqua.
  </li>
  <li>
    <strong>Un système de combat</strong> lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua.
  </li>
  <li>
    <strong>Votre personnage</strong> évolue lorem ipsum dolor sit amet,
    consectetur adipiscing elit, sed do eiusmod tempor incididunt ut labore et
    dolore magna aliqua.
  </li>
</ul>
<div class="text-center pb-2">
  <a class="btn btn-success logoGreen" routerLink="connexion">Commencez votre aventure !</a>
</div>
