.about_top {
    margin-top: 30px;
}

.about_bottom {
    margin-top: 30px;
    margin-bottom: 50px;
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    flex-direction: row;
}

.about {
    text-align: center;
}

.card {
    text-align: center;
    border: 0px;
}

h2 {
    margin-top: 20px;
    text-align: center;
}

@media only screen and (max-width: 1024px) {

    /* For mobile phones: */
    .about_bottom {
        flex-direction: column;
    }
}